/*Login page*/
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}
.main {
    background-image: linear-gradient(180deg, #eee , #072a42);
    background-color: #072a42;
}
.logo {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    color: #072a42;
    font-weight: 100;
    font-size: 3em;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.login-input {
    width: 250px;
    border-radius: 35px;
    padding: 5% 15%;
    margin: 1vh;
    background-color: rgb(255,255,255,0);
    border: 1px solid #072a42;
    color: #072a42;
}
.login-input::placeholder {
    color: #072a42;
}
.login-button {
    border-radius: 35px;
    height: 50px;
    width: 100px;
    padding: 5% 15%;
    background-color: #672a42;
    border: 1px solid #672a42;
    color: #ffffff;
    margin-top: 30px;

}
.login-button:hover {
    background-color: #072a42;
    border: 1px solid #072a42;
}


.sink-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sink-on-hover:hover, .sink-on-hover:focus, .sink-on-hover:active {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

a:link {
    text-decoration: none;
    color: #fff;
}

a:visited {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

a:active {
    text-decoration: none;
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .logo {
        height: 20vh;
    }
    .login {
        height: 80vh;
    }
    img {
        height: 100%;
    }
}
/*Task page*/
/* Include the padding and border in an element's total width and height */

.main-task{
  background-color: rgb(7,42,66, 0.7);
}
.navi{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.menu-navi{
  background-color: rgb(255,255,255,0);
  height: 90px;
  width: 90px;
  border-radius: 50px;
  border: none;
  margin: 20px auto;
  color:#fff;
}

.menu-navi:hover{
  background-color: #072a42;
}
i{
  padding: 15%;
}
  
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #672a42;
    ;
    color: white;
  }
  
  /* Style the header */
  .header {
   background-color: rgb(255,255,255,0);
    padding: 30px 40px;
    color: white;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }

#myUL{
  width: 75%;
  margin: 0 auto;
}
h2{
  font-weight: 100;
  margin-bottom: 30px;
}
  