.monthContent {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: #D3DEDC;
}
.month-board {
    background-color: #fff;
    padding:5em;
    min-height: 100vh;
    border-radius: 10em 0px 0px 10em;
    box-shadow: 80px 80px 150px #000;
    margin-top: 30px;
}
@media only screen and (max-width: 600px) {
    .month-board {
        padding:1em;
        min-height: 100vh;
        border-radius: 2em 2em;
    }
  }

  .bthov:hover {
      cursor: pointer;
  }