
.yearContent {
    width: 100%;
    min-height: 100vh;
    background-color: #D3DEDC;
}
h1, h2{
    color: #316B83;
}
.sidebar-nav-menu {
    background-color: #D3DEDC;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    padding: 2% 0%;
}
.logout-icon{
    font-size: 2em;
    color: #272a42;
    display: block;
    margin: 2em 0em;
}
.content-dashboard {
    background-color: #fff;
    padding:5em;
    border-radius: 10em 0px 0px 10em;
    box-shadow: 80px 80px 150px #000;
}
.day-task-list{
    border-radius: 45em;
}
.day-task-list  li{
    border-radius: 45em;
    margin:4px 0px;
    background-color: #eeeeee;
    border: none;
}
.calendar-year-view{
    padding:2em 0em;
}
.card{
    background-color: #fff;
    margin: 3em 0em;
    border-radius: 2em 2em;
    border: 1px solid #316B83;
}
.card-body{
padding: 2em 2em;
}
.card-title > a{
    color: #000;
    font-size: large;
}
.bi-plus-square{
    position: absolute;
    top:10%;
    left: 90%;
    font-size: 2em;
}
.list-group {
    border-radius: 45em;
}
.list-group li{
    border-radius: 45em;
    margin:4px 0px;
    background-color: #eeeeee;
    border: none;
}

@media only screen and (max-width: 600px) {
    .sidebar-nav-menu {
      min-height: 10vh;
      align-items:flex-end;
      text-align:right;
      padding:5%;
    }
    .content-dashboard {
        padding:2em;
        border-radius: 2em 2em 2em 2em;
    }
    .bi-plus-square{
        position: absolute;
        top:10%;
        left: 80%;
        font-size: 2em;
    }
    .logout-icon{
        font-size: 2em;
        color: #272a42;
        display: inline-block;
        margin: 0em 1em;
    }
  }